// Base

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  background-color: $color_birch;
  color: $color_text;
}

main {
  background-image: url('../images/bg.png');
  background-repeat: repeat;
  background-size: 300px;
  background-attachment: local;
  min-height: 100vh;
  position: relative;
  padding: 0 2rem;
  // Enable elastic scroll
  -webkit-overflow-scrolling: touch;
  @include media-max($bp_mobile) {
    padding: 0 1rem;
  }
}

.wrapper {
  max-width: 640px;
  margin: 0 auto;
}
