// Typography

%font-serif {
  font-family: "schoolbook", Georgia, Times, serif;
}

%font-sans {
  font-family: "tablet-gothic-wide", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background-color: $color_oak;
}

html {
  -webkit-font-smoothing: antialiased; // Fix fatty fonts
  -moz-osx-font-smoothing: grayscale;
  font-weight: regular;
  font-size: 15px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  @extend %font-serif;
  @include media-min(400px) { font-size: 16px; }
  @include media-min(600px) { font-size: 17px; }
  @include media-min(900px) { font-size: 18px; }
  @include media-min(1100px) { font-size: 19px; }
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.2rem;
  line-height: 1;
  font-weight: bold;
}

h1, p, blockquote {
  margin: 0;
}
