// Variables

// Colors
$color_white: #FFFFFF;
$color_birch: #FAF9F6;

$color_text: #3d3834;
$color_text_light: #988779;

$color_cherry: #D35A53;
$color_oak: #ECC875;
$color_walnut: #9F7E66;

// Sizing
$nav_width: 140px;
$button_radius: 4px;

// Z-indices
$z_header: 100;
