.portrait {
  width: 400px;
  margin: 0 auto;
}

.map {
  height: 650px;
  width: 100%;
  position: relative;
  margin: 2rem 0 4rem;
  @include media-max(600px) {
    display: none;
  }
}

.map-bg {
  background: url('../images/map.svg') no-repeat top right;
  width: 1000px;
  height: 618px;
  position: absolute;
  right: 168px;
  top: 0;
  z-index: $z_mapbg;
}

.map-text {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: $z_maptext;

  dl {
    // Right-align
    margin-left: auto;
    position: absolute;
    right: 0;
  }

  dt {
    @extend %font-sans;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: .5em;
  }

  dd {
    font-size: 0.8rem;
    margin: 0;
  }

  dl.north-carolina {
    max-width: 258px;
    top: 330px;
  }

  dl.florida {
    max-width: 290px;
    top: 546px;
  }
}
