// Contact

.contact-info {
  display: flex;
  align-items: stretch;
  border-top: 1px solid $color_border;
  border-bottom: 1px solid $color_border;
  margin: 2rem auto;
  text-align: center;

  > * {
    padding: 2rem;
    flex: 1;
  }

  > *:first-child {
    border-right: 1px solid $color_border;
  }

  .contact-label {
    @extend %font-sans;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }

  .contact-link {
    font-size: 1.4rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  @include media-max(880px) {
    flex-direction: column;
    > *:first-child {
      border-right: 0;
      border-bottom: 1px solid $color_border;
    }
  }
}

.contact-form {
  .form-group-row {
    display: flex;
    justify-content: space-between;
    .form-group {
      width: calc(50% - #{$form_gutter}/2);
    }
    @include media-max(730px) {
      flex-wrap: wrap;
      .form-group {
        width: 100%;
      }
    }
  }

  .form-group {
    width: 100%;
    margin-bottom: $form_gutter;
    position: relative;

    label, input, textarea {
      display: block;
      width: 100%;
      @extend %font-serif;
    }

    input, textarea {
      // Space for label
      padding-top: 40px;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.7rem 0.8rem 0.5rem;
      height: 40px;
      padding-bottom: 0;
      //text-transform: uppercase;
      //letter-spacing: 1px;
      font-size: 14px;
      font-weight: 600;
      cursor: text;
      color: $color_text_light;
      @extend %font-sans;
    }

    textarea {
      resize: vertical;
      min-height: 200px;
    }
  }

  .form-submit {
    text-align: center;
    button {
      margin: 0 auto;
    }
  }
}

// Custom Uniform styles
.form-messages {
  margin-bottom: $form_gutter;
}

.form-success {
  background-color: $color_evergreen;
  border-radius: 1px;
  padding: 0.4rem 0.6rem;
  color: $color_white;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  @extend %font-sans;
}

.uniform-errors__item {
  @extend .form-success;
  background-color: $color_cherry;
}

// Required by Uniform plugin
.uniform__potty {
  position: absolute;
  left: -9999px;
}
