// Footer

footer {
  text-align: center;
  padding: 2rem 0;
  &:before {
    content: '❦';
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: darken($color_birch, 12);
  }

  .footer-name {
    margin: 0;
  }
}
