// Gallery

.gallery {
  width: calc(100% - #{$gallery_gutter}*2);
  margin: 0 auto;

  .gallery-sizer, .gallery-item {
    width: calc(100%/3 - #{$gallery_gutter}*0.666666666);
  }

  .gallery-gutter {
    width: $gallery_gutter;
  }

  .gallery-item {
    margin: 0;
    margin-bottom: $gallery_gutter;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
    }
    &-wide {
      width: calc(100%/1.5 - #{$gallery_gutter}*0.333333333);
    }
    &-text {
      padding: 2rem;
      background-color: $color_oak;
      //background-image: url('../images/woodgrain.svg');
      //background-repeat: repeat;
    }
  }

  // Clearfix
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.filter-bar {
  padding: 2px;
  border-radius: 6px;
  text-align: right;
  z-index: $z_filter;
  button {
    margin: 0;
    border-radius: 0;
    background: transparent;
    color: $color_text;
    border: 2px solid $color_text;
    &:hover {
      background: $color_white;
    }
    + button {
      border-left: 0;
    }
    &:first-child {
      border-bottom-left-radius: $button_radius;
      border-top-left-radius: $button_radius;
    }
    &:last-child {
      border-bottom-right-radius: $button_radius;
      border-top-right-radius: $button_radius;
    }
    &.is-checked {
      background: $color_text;
      color: $color_white;
    }
  }
}
