// Gallery

.gallery {
  width: calc(100% - #{$gallery_gutter}*2);
  margin: 0 auto;

  .gallery-sizer, .gallery-item {
    width: calc(100%/3 - #{$gallery_gutter}*0.666666666);
  }

  .gallery-gutter {
    width: $gallery_gutter;
  }

  .gallery-item {
    margin: 0;
    margin-bottom: $gallery_gutter;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
    }
    &-wide {
      width: calc(100%/1.5 - #{$gallery_gutter}*0.333333333);
    }
    &-text {
      padding: 2rem;
      background-color: $color_white;
      background-image: url('../images/bg-white.png');
      background-size: 300px;
      background-repeat: repeat;
    }
  }

  // Clearfix
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.filter-bar {
  background: $color_white;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.05);
  border-radius: $button_radius;
  overflow: hidden;
  float: right;
  z-index: $z_filter;
  button {
    margin: 0;
    border-radius: 0;
    background: transparent;
    color: $color_text;
    + button {
      border-left: 1px solid $color_birch;
    }
    &:first-child {
      border-bottom-left-radius: $button_radius;
      border-top-left-radius: $button_radius;
    }
    &:last-child {
      border-bottom-right-radius: $button_radius;
      border-top-right-radius: $button_radius;
    }
    &.is-checked {
      background: $color_oak;
      color: $color_white;
    }
  }
}
