.map {
  height: 650px;
  width: 100%;
  position: relative;
  margin: 2rem 0 4rem;
  @include media-max(580px) {
    display: none;
  }
}

.map-bg {
  background: url('../images/map.svg') no-repeat top right;
  width: 1000px;
  height: 618px;
  position: absolute;
  right: 140px;
  top: 0;
  z-index: $z_mapbg;
}

.map-text {
  position: relative;
  float: right;
  z-index: $z_maptext;
  display: flex;
  flex-direction: column;

  dl {
    // Right-align
    margin-left: auto;
    font-size: 16px;
  }

  dt {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: .5em;
  }

  dd {
    font-size: 0.9em;
    margin: 0;
  }

  dl.north-carolina {
    max-width: 224px;
    margin-top: 346px;
  }

  dl.florida {
    max-width: 260px;
    margin-top: 108px;
  }
}
