// Nav Sidebar

#nav {
  background-color: $color_white;
  background-image: url('../images/bg-white.png');
  background-size: 300px;
  background-repeat: repeat;
  box-shadow: 8px 0 40px rgba(0,0,0,0.02);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: $nav_width;
  z-index: $z_nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @extend %font-sans;
  @extend %unselectable;

  .logo {
    width: $nav_width;
    height: $nav_width;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      opacity: 0.8;
    }
  }

  nav {
    padding: $filter_padding 0;
    .nav-item {
      width: $nav_width;
      display: block;
      text-align: center;
      line-height: 1.1;
      padding: 0.6rem 1.2rem;
      font-size: 0.9rem;
      font-weight: 600;
      position: relative;
      .nav-text {
        transition: color 0.1s ease;
        color: $color_text_light;
      }
      &:hover .nav-text, &.active .nav-text {
        color: $color_text;
      }
    }
  }

  .copyright {
    margin-top: auto;
    margin-bottom: 1.5rem;
    color: lighten($color_text_light, 20);
    font-size: 14px;
    font-weight: 600;
    p {
      margin: 0;
    }
  }

  @include media-max($bp_mobile) {
    width: 100vw;
    height: $nav_mobile_height;
    top: 0;
    box-shadow: 0 8px 40px rgba(0,0,0,0.05);

    .logo {
      display: none;
    }
    .copyright {
      display: none;
    }

    nav {
      width: 100vw;
      display: flex;
      padding: 0 1rem;
      justify-content: space-between;
      .nav-item {
        font-size: 14px;
        width: auto;
        padding: 0 0.5rem;
        line-height: $nav_mobile_height;
      }
    }
  }
}

main {
  margin-left: $nav_width;
  @include media-max($bp_mobile) {
    margin-left: 0;
    margin-top: $nav_mobile_height;
  }
}
