// Nav Sidebar

header {
  background-color: $color_white;
  background-image: url('../images/bg-white.png');
  background-size: 300px;
  background-repeat: repeat;
  box-shadow: 8px 0 40px rgba(0,0,0,0.02);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: $nav_width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @extend %font-sans;
  @extend %unselectable;

  .logo {
    width: $nav_width;
    height: $nav_width;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      opacity: 0.8;
    }
  }

  nav {
    .nav-item {
      width: $nav_width;
      display: block;
      text-align: center;
      line-height: 2.5rem;
      font-weight: 500;
      position: relative;
      .nav-text {
        transition: background-size 0.1s ease;
        background: linear-gradient(transparent 62%, $color_birch 0%) center center no-repeat;
        background-size: 100% 0;
        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }

  .copyright {
    margin-top: auto;
    margin-bottom: 2rem;
    color: lighten($color_text_light, 20);
    font-size: 0.9rem;
    font-weight: 500;
    p {
      margin: 0;
    }
  }
}

main {
  margin-left: $nav_width;
}
