// General Page Styles

.page-title {
  padding: 2.5rem 0 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 1px solid $color_border;
}

.page-content {
  p {
    margin-bottom: 1.5rem;
  }
  a {
    transition: background-size 0.1s ease;
    background: linear-gradient(transparent 0%, $color_white 0%) center bottom no-repeat;
    background-size: 100% 50%;
    &:hover {
      background-size: 100% 100%;
    }
  }
  &.footnotes {
    margin-top: 3rem;
    p {
      @extend %font-sans;
      text-align: center;
      font-size: 0.9rem;
    }
  }
}

.call-to-action {
  text-align: center;
  padding: 0.75rem 0;
  margin: 3rem auto 0;
  border-top: 1px solid $color_border;
  border-bottom: 1px solid $color_border;
  @extend %unselectable;
  .or {
    font-style: italic;
    @include media-max(675px) {
      display: none;
    }
  }
}
