// General Page Styles

.page-title {
  height: $nav_width;
  padding: 3.5rem 0 1.5rem;
  h1 {
    float: left;
  }
}

.page-content {
  p {
    margin-bottom: 1.5rem;
  }
  a {
    transition: background-size 0.1s ease;
    background: linear-gradient(transparent 0%, $color_white 0%) center bottom no-repeat;
    background-size: 100% 50%;
    &:hover {
      background-size: 100% 100%;
    }
  }
}

.call-to-action {
  text-align: center;
  padding: 0.75rem 0;
  margin: 3rem auto 0;
  border-top: 1px solid darken($color_birch, 6);
  border-bottom: 1px solid darken($color_birch, 6);
  @extend %unselectable;
  .or {
    font-style: italic;
    @include media-max(675px) {
      display: none;
    }
  }
}
