// Testimonial Cards

.testimonial {

  blockquote {

    .quote {
      font-style: italic;
      line-height: 1.35;
      p:first-child {
        text-indent: -0.45em;
        &:before {
          content: '“';
        }
      }
      p:last-child:after {
        content: '”';
      }
      strong {
        display: inline;
      }
    }

    cite {
      @extend %font-sans;
      display: block;
      padding-top: 1rem;
      font-style: normal;
      padding-left: 1.4rem;
      position: relative;
      font-size: 1.1rem;
      &:before {
        content: '—';
        left: 0;
        position: absolute;
      }
    }

    .quote-author {
      font-weight: 600;
    }

    .quote-location {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.85rem;
      font-weight: 600;
      margin-top: 0.2rem;
    }
  }
}
