// Testimonial Cards

.testimonial {

  blockquote {

    .quote {
      font-size: 1rem;
      p:first-child {
        text-indent: -0.5em;
        &:before {
          content: '“';
        }
      }
      p:last-child:after {
        content: '”';
      }
      strong {
        display: inline;
      }
    }

    cite {
      display: block;
      padding-top: 1rem;
      font-style: normal;
      padding-left: 1.4rem;
      position: relative;
      font-size: 0.9rem;
    }

    .quote-author {
      @extend %font-sans;
      font-weight: 600;
      display: block;
      &:before {
        content: '—';
        left: 0;
        position: absolute;
      }
    }

    .quote-location {
      display: block;
      font-style: italic;
      margin-top: 0.2rem;
    }
  }
}
